html,
body {
  margin: 0px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 752px;
}

.square {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}